* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html, body {
    height: 100%;
    width: 100%;
    /* background-color: #111; */
    color:white;
    overflow-x: hidden;
    
}

.page1 {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    overflow-x: hidden;
    /* padding: 5rem 2rem; */
    text-align: center;
}

.page1 svg {
    /* height: 60vh; */
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.page2 {
    height: 100vh;
    width: 100vw;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.page2 h1 {
    font-size: 25rem;
    text-transform: uppercase;
    font-weight: 600;
    transform: translateX(-30%);
    
}

.page3 {
    height: 100vh;
    width: 100vw;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    height: 250px;
    width: 250px;
    background-color: rgb(77, 231, 231);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    height: 100vh;
    width: 100vw;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;

}



.cursor {
    position: fixed;
    border-radius: 50%;
    background-color: white;
    height: 20px;
    width: 20px;
    font-size: 6px;
    text-align: center;
    color: black;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageDiv {
    height: 60vh;
    width: 60vw;
    position: relative;
}

.imageDiv img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: transparent;
}